p{
    font-family: "Roboto Light", "serif"
}

h1, h3{
    font-family: "Roboto Light", "serif"
}

section[class="treeContainer"]{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;
}

article{
    width:200px;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    padding: 5px
}

img{
    margin:auto;
    width: 150px
}